

/* Top Header Stuff */
.header-top {
  display: flex;
}

@media all and (max-width: 800px) {
  .header-top, .header-top-logo, .header-top-nav-items {
    flex-direction: column;
    background-color: green;
    text-align: center;
  }
}

@media all and (min-width: 800px) {
  .logo, .header-tagline, .header-slogan-text {
    margin-left: 5px;
  }
}

.logo {
  margin-left: 5px;
}

.header-top-logo {
  flex: 1 auto;
  align-content: flex-start;
  font-size: 36pt;
  color: black;
  background-color: purple;
}

.header-top-nav-items {
  display: flex;
  margin: 0 auto;
  background-color: green;
}

.links {
  display: flex;
}

.links > li {
  flex: 1 auto;
  flex-grow: 1;
  align-self: center;
  list-style: none;
  background-color: red;
  margin: 10px;
}

/* Bottom Header Stuff */

@media all and (max-width: 800px) {
  .header-bottom {
    flex-direction: column;
  }
}

.header-bottom {
  background-color: #BADA55;
  display: flex;
  flex: 1 100%;
  color: black;
}

.header-slogan-text {
  flex: 1;
}

@media all and (max-width: 800px) {
  .header-slogan-text {
    text-align: center;
  }
}

.address-lookup-form {
  display: flex;
  flex: 0.25;
  background-color: yellow;
  flex-flow: column wrap;
  align-self: center;
}

.address-lookup {
  flex: 1 100%;
  align-self: center;
}

.slogan {
  font-size: 20pt;
}

.header-tagline {
  font-size: 12pt;
}

/* Map Stuff */

.map-container {
  background-color: red;
  text-align: center;
}

.map {
  text-align: center;
  width: 90%;
  height: 400px;
}

/* Footer Stuff */

.details-top {
  background-color: blue;
}

.details-bottom {
  background-color: pink;
}
