

/* Top Header Stuff */
.header-top {
  display: flex;
}

.header-top-logo {
  flex: 1 auto;
  align-content: flex-start;
  font-size: 36pt;
  color: black;
  background-color: purple;
}

.header-top-nav-items {
  display: flex;
  margin: 0 auto;
  background-color: green;
}

.links {
  display: flex;
}

.links > li {
  flex: 1 auto;
  align-items: center;
  align-content: center;
  list-style: none;
  background-color: red;
  margin: 10px;
}

/* Bottom Header Stuff */

.header-bottom {
  background-color: #BADA55;
  display: flex;
}

/* Map Stuff */

.map-container {
  background-color: red;

}

/* Footer Stuff */

.footer-top {
  background-color: blue;
}

.footer-bottom {
  background-color: pink;
}
